<div class="log">
    <a class="link" routerLink="studentlogin" >Log Out</a>
</div>
<h2 style="padding-left: 18em;">Instructions For Technical Test</h2>
<hr style=" border-width: 3px;">
<div class="main">
    
    <ol>
        <li>Time Duration:</li>
        <li>No Of Questions:</li>
        <li>Minimum Marks:</li>
        <li>Using Mobile Phone or any communication device while the test is in-progress</li>
        <li>Taking screenshots of the questions/navigating away from the test window.</li>
        <li>Attempting the test from your phone/any other non-permissible device.</li>
    </ol>
    <div class="btn">
        <a class="btn btn-info" routerLink="exampage" role="button">Take Exam</a>
    </div>
</div>

