<!DOCTYPE html>
<html>
<body> 
  

    <div class="row" style="font-family: Calibri;">
        <div class="main">
          <div class="card">
            <h2 style="margin-left: 2em;">Register for the MET Examination</h2>
            <form #registerform="ngForm" (ngSubmit)="Submitregister()" novalidate>
                <div class="container">
                  <label for="name"><b>Fullname</b></label>
                  <input type="text" placeholder="Enter Fullname" name="name" required [(ngModel)]="register.FullName" #name="ngModel">

                  <div *ngIf="!name?.valid && (name?.dirty || name?.touched)" class="error">
                    <div *ngIf="name!.errors!.required">
                      <p style="color:red;">Full Name is required</p>
                    </div>
                 </div>
              
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).{8,}$" required [(ngModel)]="register.Password" #psw="ngModel">

                  <div *ngIf="!psw?.valid && (psw?.dirty || psw?.touched)" class="error">
                    <div *ngIf="psw!.errors!.required">
                      <p style="color: red;">Password is required</p>
                    </div>
                    <div *ngIf="psw!.errors!.pattern">
                      <p style="color: red;">Password should contain Minimum eight characters, at least one letter and one number</p>
                    </div>
                  </div>
              
                  <label for="email"><b>Email Address</b></label>
                  <input type="email" placeholder="Enter Email Address" name="email" pattern="^(?=.{1,64}@)[A-Za-z0-9_-]+(\\.[A-Za-z0-9_-]+)*@[^-][A-Za-z0-9-]+(\\.[A-Za-z0-9-]+)*(\\.[A-Za-z]{2,})$" required [(ngModel)]="register.Email" #email="ngModel">

                  <div *ngIf="!email?.valid && (email?.dirty || email?.touched)" class="error">
                    <div *ngIf="email!.errors!.required">
                      <p style="color: red;">Email is required</p>
                    </div>
                    <div *ngIf="email!.errors!.pattern">
                      <p style="color: red;">Enter the correct email</p>
                    </div>
                  </div>
              
                  <label for="city"><b>City</b></label>
                  <input type="text" placeholder="Enter City" name="city" [(ngModel)]="register.City" #city="ngModel">

                  <label for="state"><b>State</b></label>
                  <input type="text" placeholder="Enter State" name="state" [(ngModel)]="register.State" #state="ngModel">
                              
                  <label for="mobile"><b>Mobile No</b></label>
                  <input type="tel" placeholder="Enter Mobile Number" name="mobile" pattern="^[0-9]{10}$" required [(ngModel)]="register.Mobile" #mobile="ngModel">
                  
                  <div *ngIf="!mobile?.valid && (mobile?.dirty || mobile?.touched)" class="error">
                    <div *ngIf="mobile!.errors!.required">
                      <p style="color: red;">mobile number is required</p>
                    </div>
                    <div *ngIf="mobile!.errors!.pattern">
                      <p style="color: red;">Enter correct mobile number</p>
                    </div>
                  </div>

                  <label for="qualification"><b>Qualification</b></label><br>
                 
                    <select class = "qual" type="text" id="qualification" style="width: 365px; height: 25px;" name="qualification" [(ngModel)]="register.Qualification" #qualification="ngModel">
                        <option value="1">BTech</option>
                        <option value="2">B.E</option>
                        <option value="3">BCA</option>
                        <option value="4">MCA</option>
                      </select>              
                  
                  <br>
                  <br>
                  <label for="yearOfcompletion"><b> Year Of Completion</b></label><br>
                  <select type="text" id="yearOfcompletion" style="width: 365px; height: 25px;" name="yearOfcompletion" [(ngModel)]="register.YearOfCompletion" #yearOfcompletion="ngModel">
                    <option value="1">2021</option>
                 </select>

                  <button type="submit" class="registerbtn">Register</button>
                </div>
              </form>
          </div>
        </div>
      </div>
      
      <br>
               
</body>
</html>